@import url('../Base/base.css');

body{
    font-family: sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 1%;
}

#avertissement{
    margin-right:2% ;
    margin-left:2%;

    display: flex;
    justify-content: center;
    text-align: center;
}

#liste{
    margin-right:2% ;
    margin-left:2%  ;
    border: 4px solid var(--bleu-vert);

    display: flex;
    justify-content: center;

    margin-bottom: 2%;
}

ul {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 0;
}

li{
    padding: 2px;
}

.a_liste{
    display: block;
    
    color: gray;
    font-size: xx-large;
    text-decoration:none;
}

.a_liste:hover{
    background-color: var(--mat);
}


a:hover{
    color:var(--gris)
}

.github{
    display: block;
    color: white;
    font-size: xx-large;
}

.resume:hover{
    background: var(--gris);
    color: var(--noir);
}